*, body, html {
   margin: 0px;
   padding: 0px;
}

body {
    /*
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translateY(-50%) translateX(-50%);
    */

    width: 100vw;
    height: 100vh;

    min-height: -webkit-fill-available;
    min-height: 100vh;

    overflow: hidden;

    font-family: 'Fira Sans', sans-serif;

    background-color: hsl(205, 45%, 10%, 1);
    color: white;
}

